# Java / Maven
target/
*.class
.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.editorconfig
frontend/.gitignore

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
